<!-- <li class="p-8 list-none bg-white rounded-lg shadow-lg">
  <div class="relative overflow-hidden">
    <img class="object-cover w-full h-full" [src]="image" [alt]="name" />
    <div class="absolute inset-0 bg-black opacity-40"></div>
    <div class="absolute inset-0 flex items-center justify-center"></div>
  </div>
  <h3 class="mt-4 text-xl font-bold text-gray-900">{{ name }}</h3>
  <p class="mt-2 text-sm text-gray-500">{{ category }}</p>
  <span class="text-lg font-bold text-gray-900">{{
    price | currency : "EUR" : "symbol" : "1.2-2"
  }}</span>
  <div class="flex items-center justify-between mt-4">
    <button
      class="w-1/2 px-4 py-2 mx-2 font-bold text-white bg-gray-900 rounded-full hover:bg-gray-800"
    >
      Ajouter
    </button>
    <a
      href="#"
      class="w-1/2 px-4 py-2 mx-2 font-bold text-center text-black bg-red-300 rounded-full hover:bg-red-500"
    >
      Détail
    </a>
  </div>
</li> -->
